* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://wallpapersplanet.net/sites/default/files/rick-and-morty-wallpapers-34901-8097983.png")
    no-repeat center/cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 12%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 5.5rem;
  border-radius: 100%;
}

.login-container h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: gray;
  margin-bottom: 1rem;
}

.input1,
.input2 {
  border: none;
  border: 1px solid gray;
  padding: 15px;
}

.input1 {
  border-radius: 4px 4px 0 0;
}

.input2 {
  border-radius: 0 0 4px 4px;
  margin-bottom: 1rem;
}

.input1:focus,
.input2:focus {
  outline: none;
}

.btn-entrar {
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-weight: 700;
  width: 80%;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #273058;
  color: #fff;
  padding: 1.1rem;
  cursor: pointer;
}

.btn-entrar a {
  color: #fff;
}

.btn-entrar:hover {
  background-color: #1c2341;
}

.btn-password {
  background-color: transparent;
  border-radius: 100px;
  font-size: 0.7rem;
  padding: 5px 10px;
  border: 1px solid rgb(145, 145, 145);
  margin: 1.5rem;
  cursor: pointer;
}

.btn-password > a {
  color: #000;
}

.btn-password:hover {
  background-color: rgb(145, 145, 145);
}

.btn-password:hover a {
  color: #fff;
}
